.card {
    position: absolute;
    height: 350px;
    width: 250px;
    background-color: gray;
    margin-top: 30px;
    transform: perspective(800px) translate3d(10px, 0, 20px) rotateY(21deg);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: -5px 2px rgba(0, 0, 0, 0.7);
    transition: all 1s;
}
.card:hover {
    animation: bounce 1s;
    animation-fill-mode: forwards;
}
@keyframes bounce {
    from, to { transform: translateX(0px) perspective(800px) translate3d(10px, 0, 20px) rotateY(21deg);}
    50% {transform: translateX(-110px) scale(1.1) perspective(800px) translate3d(10px, 0, 20px) rotateY(21deg); }
    100% { transform: translateX(0px) scale(1.15); z-index: 1; box-shadow: none;}
}