.modal{
    background: linear-gradient(in hsl, blue, red 80%);
    color: white;
    width: 700px;
    position: absolute;
    top: 20px;
    height: 500px;
    z-index: 10;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
}
.modalBox{
    display: flex;
    justify-content: center;
    margin: auto;
}
.closeModal{
    cursor: pointer;
    padding: 5px;
    font-size: 30px;
}
.modalText{
    padding: 20px;
}
.bgScreen{
    width: 100%;
    height: 100vh;
    min-height: 560px;
    background-color: #00000020;
    position: absolute;
    top: 0;
}