.modal{
    background: linear-gradient(in hsl, blue, red 80%);
    color: white;
    width: 800px;
    position: absolute;
    top: 20px;
    height: 600px;
    z-index: 10;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
}
.modalBox{
    display: flex;
    justify-content: center;
    margin: auto;
}
.closeModal{
    cursor: pointer;
    padding: 5px;
    font-size: 30px;
}
.modalText{
    padding:20px;
}
.a{
    width: 100hw;
    height: 100vh;
    background-color: #00000020;
    position: absolute;
    top: 0;
}